{% extends 'base.html' %}
{% load static %}

{% block title %}
About Us
{% endblock %}


{% block body %}
{% include 'navbar.html' %}
<style>
    body{
        background-color: rgb(9, 9, 29);
        text-decoration: none;
        font-family: cursive;
    }
    a{
        text-decoration: none;
        color: black;
    }
    p{
        text-align: justify;
    }
</style>




<section id="section1">
    <img src="{% static 'images/car3.jpg' %}" class="img-fluid w-100" alt="...">

</section>

<section>
    <div class="row mt-5 mb-5">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="container border-2 border-black">
                
                <h2 class="card-title text-center mt-3 mb-3 text-white"><b>About Us </b></h2>
                <p class="card-text text-white">Welcome to MyBlog !</p>
                <p class="card-text text-white">
                    At MyBlog, <br>
                    we are passionate about providing a platform where ideas, knowledge, 
                    and stories can flourish. Our mission is to create a space where people 
                    from all walks of life can come together to explore,
                     learn, and engage with captivating content. <br>

                    We understand the power of words and the impact 
                    they can have on individuals and communities.
                     That's why we strive to curate a diverse range of topics, ensuring there is something for everyone.
                      Whether you're interested in technology, travel, fashion, health and wellness, 
                    or any other subject, we've got you covered. <br><br>
                    Our team of talented writers and contributors are dedicated
                     to delivering high-quality, well-researched, 
                     and thought-provoking articles that will both inform and entertain you.
                      We believe in the power of storytelling and aim to captivate our readers with engaging narratives, 
                      insightful interviews, and informative guides. <br><br>
                      We value the opinions and perspectives of our readers, and we encourage an open dialogue. We believe that everyone has a story to share and something valuable to contribute. That's why we provide a platform for our readers to share their own experiences and insights through comments and guest posts. <br>

                    As technology continues to advance and the world rapidly changes, 
                    we strive to stay at the forefront of emerging trends and topics. 
                    Our team is committed to continuous learning and adaptation,
                     ensuring that our content remains relevant and up-to-date. <br><br>

                    So whether you're seeking inspiration,
                     knowledge, or simply a moment of entertainment, 
                    MyBlog is your go-to destination. 
                     Join us on this exciting journey as we explore the wonders of the world, 
                     unravel the mysteries of science, delve into the realm of creativity,
                      and celebrate the diversity that makes our world so extraordinary. <br><br>

                    Thank you for being a part of our community.
                    We look forward to embarking on this enriching and enlightening adventure together.
                </p>
                


            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</section>
<hr style="color: rgb(255, 255, 255);">
<section id="sectionlast">
    <div class="container mt-5 ">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <h5 class="text-title" style="color: rgb(255, 255, 255);margin-top: 50px;">Quick links</h5>
          <ul>
            <li style="color: rgb(255, 255, 255);"><a href="/" style="color: rgb(255, 255, 255);text-decoration: none;">Home</a></li>
            <li style="color: rgb(255, 255, 255);"><a href="#" style="color: rgb(255, 255, 255);text-decoration: none;">About Us</a></li>
            <li style="color: rgb(255, 255, 255);"><a href="#" style="color: rgb(255, 255, 255);text-decoration: none;">Contact Us</a></li>
            <li style="color: rgb(255, 255, 255);"><a href="#" style="color: rgb(255, 255, 255);text-decoration: none;">Privacy Policy</a></li>
            <li style="color: rgb(255, 255, 255);"><a href="#" style="color: rgb(255, 255, 255);text-decoration: none;">Terms & Condition</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4">
          <h5 class="text-title" style="color: rgb(255, 255, 255);margin-top: 50px;">Contact</h5>
          <ul>
            <li style="color: rgb(255, 255, 255);"><a href="#" style="color: rgb(255, 255, 255);text-decoration: none;"><i class="bi bi-geo m-2"></i>Banglore</a></li>
            <li style="color: rgb(255, 255, 255);"><a href="#" style="color: rgb(255, 255, 255);text-decoration: none;"><i class="bi bi-telephone m-2"></i>0481-0772255</a></li>
            <li style="color: rgb(255, 255, 255);"><a href="#" style="color: rgb(255, 255, 255);text-decoration: none;"><i class="bi bi-instagram m-2"></i><i class="bi bi-facebook m-2"></i><i class="bi bi-twitter m-2"></i><i class="bi bi-linkedin m-2"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4">
          <h5 class="text-title" style="color: rgb(255, 255, 255);margin-top: 50px;">Connect with Us</h5>
         
          <p style="color: rgb(255, 255, 255);"><p style="color: rgb(255, 255, 255);text-decoration: none;">Subscribe our email for <br>more updates </p></p>
          <p style="color: rgb(255, 255, 255);">
            <nav class="navbar">
              <div class="container-fluid" style="background: transparent;">
                <form class="d-flex" role="search">
                  <input class="text-dark me-2" type="search" style="border: solid 1px aqua; background-color: white;" placeholder="Email" aria-label="Search">
                  <button class="btn btn-outline-info" type="submit">Subscribe</button>
                </form>
              </div>
              
            </nav>
          </p>
                 
          
        </div>
      </div>
    </div>
  
  
  <div class="card-footer" style="height: 45px; background-color: rgb(12, 12, 30);">
    <p class="text-white text-center"><i class="bi bi-info-circle"></i>Myblog.com | All rights reserved | myblog@gmail.com</p>
  </div>
  
</section> 



{% endblock %}