{% extends 'base.html' %}
{% load static %}

{% block title %}
Post
{% endblock %}


{% block body %}
{% include 'navbar.html' %}
<style>
    body{
        background-color: rgb(9, 9, 29);
        text-decoration: none;
        font-family: cursive;
    }
    a{
        text-decoration: none;
        color: black;
    }
    p{
        text-align: justify;
    }
</style>




<section id="section1">
    <img src="{% static 'images/car5.jpg' %}" class="img-fluid w-100" alt="...">

</section>

<section>
    <div class="row mt-5 mb-5">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="container border-2 border-black">
                <img src="{% static 'images/tb1.jpg' %}" class="img-thumbnail" style="width: 100%;" alt="...">
                <h2 class="card-title text-center mt-3 mb-3 text-white"><b>Travel to dreams</b></h2>
                <p class="card-text d-inline-block"><small class="text-white">Like:15</small></p>
                <p class="card-text d-inline-block ms-lg-3"><small class="text-white">Share:3</small></p><br>
                <button class="btn btn-outline-info d-inline-block"><small class="text-white"><i class="bi bi-heart"></i></small></button>
                <button class="btn btn-outline-info d-inline-block ms-lg-3"><small class="text-white"><i class="bi bi-share"></i></small></button>
                <button class="btn btn-outline-info d-inline-block ms-lg-3"><a class="text-white" href="{% url 'editpost' %}"><i class="bi bi-pencil"></i></a></button>
                <p class="card-text mt-2 mb-2"><small class="text-white">Published:May-28-2023</small></p>
                <p class="card-text"><small class="text-white">Category:Travel</small></p>
                <p class="card-text text-white">
                Introduction: <br>

                Change is an inherent part of life. It can be intimidating, challenging, 
                and even uncomfortable at times. Yet, it is through change that we find growth, 
                discover our true potential, and embark on transformative journeys. In this blog post,
                 we will explore the power of embracing change and how it can lead to personal growth.
                </p>
                <p class="card-text text-white">
                Recognizing the Need for Change: <br>
                Change often begins with a recognition that something needs to be different in our lives.
                It could be a dissatisfaction with our current circumstances, a desire for personal development,
                or a longing for a new adventure. Whatever the catalyst, acknowledging the need for change is the 
                first step towards embarking on a transformative journey.
                </p>
                <p class="card-text text-white">
                Stepping out of the Comfort Zone: <br>
                Change rarely happens within the confines of our comfort zone. 
                It requires us to step into the unknown, face uncertainties, 
                and push past our limitations. Stepping out of our comfort zone can be daunting,
                but it is in this space where personal growth thrives. By embracing discomfort
                and embracing new experiences, we open ourselves up to endless possibilities and opportunities for self-discovery.
                </p>
                <p class="card-text text-white">
                    Embracing Resilience: <br>
                    Change is often accompanied by challenges and setbacks.
                     It is during these difficult times that our resilience is put to the test. 
                     Embracing change means accepting that there will be obstacles along the way,
                      but it also means developing the strength and determination to overcome them. 
                      Resilience allows us to bounce back from failure, learn from our mistakes,
                       and continue moving forward on our journey towards personal growth.
                </p>
                <p class="card-text text-white">
                    Cultivating a Growth Mindset: <br>
                   A growth mindset is essential when embracing change.
                    It is the belief that we have the capacity to learn, 
                    develop, and evolve throughout our lives. By adopting a growth mindset,
                     we open ourselves up to new ideas, perspectives, and possibilities. 
                     We become more adaptable, open-minded, and willing to take risks.
                      Cultivating a growth mindset allows us to see change as an opportunity 
                      for growth rather than a threat to our stability.
                </p>
                <p class="card-text text-white">
                    Embracing Self-Reflection: <br>
                    Change often prompts us to reflect on who we are,
                     what we want, and where we're headed. 
                     Self-reflection is a powerful tool for personal growth as 
                     it helps us gain clarity, identify our values and priorities, 
                     and make informed decisions. By taking the time to reflect on our experiences, 
                     we can learn from them, adjust our course if needed, 
                     and continue evolving on our journey towards personal growth.
                </p>
                <p class="card-text text-white">
                    Conclusion: <br>

                   Embracing change is not always easy, but it is undoubtedly worth it. 
                   It is through change that we find growth, discover our true potential,
                    and lead more fulfilling lives. By recognizing the need for change, 
                    stepping out of our comfort zone, embracing resilience, cultivating a growth mindset, 
                    and engaging in self-reflection, we can embark on transformative journeys that shape us
                     into the best versions of ourselves. So, let us embrace change and unlock the endless possibilities 
                     that await us on our path to personal growth.
                </p>



            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</section>
<hr style="color: rgb(255, 255, 255);">

<section id="sectionlast">
    <div class="container mt-5 ">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <h5 class="text-title" style="color: rgb(255, 255, 255);margin-top: 50px;">Quick links</h5>
          <ul>
            <li style="color: rgb(255, 255, 255);"><a href="/" style="color: rgb(255, 255, 255);text-decoration: none;">Home</a></li>
            <li style="color: rgb(255, 255, 255);"><a href="#" style="color: rgb(255, 255, 255);text-decoration: none;">About Us</a></li>
            <li style="color: rgb(255, 255, 255);"><a href="#" style="color: rgb(255, 255, 255);text-decoration: none;">Contact Us</a></li>
            <li style="color: rgb(255, 255, 255);"><a href="#" style="color: rgb(255, 255, 255);text-decoration: none;">Privacy Policy</a></li>
            <li style="color: rgb(255, 255, 255);"><a href="#" style="color: rgb(255, 255, 255);text-decoration: none;">Terms & Condition</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4">
          <h5 class="text-title" style="color: rgb(255, 255, 255);margin-top: 50px;">Contact</h5>
          <p style="color: rgb(255, 255, 255);">
            <p style="color: rgb(255, 255, 255);text-decoration: none;">
              1st Floor - Thapasya Building <br>
              Kakkanad, Cochin <br>
              Phone: +91 974 663 2202  <br>
              Email: Info@Altostechnologies.In
            </p>
          </p>
        </div>
        <div class="col-lg-4 col-md-4">
          <h5 class="text-title" style="color: rgb(255, 255, 255);margin-top: 50px;">Connect with Us</h5>
         
          <p style="color: rgb(255, 255, 255);"><p style="color: rgb(255, 255, 255);text-decoration: none;">Subscribe our email for <br>more updates </p></p>
          <p style="color: rgb(255, 255, 255);">
            <nav class="navbar">
              <div class="container-fluid" style="background: transparent;">
                <form class="d-flex" role="search">
                  <input class="text-dark me-2" type="search" style="border: solid 1px aqua; background-color: white;" placeholder="Email" aria-label="Search">
                  <button class="btn btn-outline-info" type="submit">Subscribe</button>
                </form>
              </div>
              
            </nav>
          </p>
                 
          
        </div>
      </div>
    </div>
  
  
  <div class="card-footer" style="height: 45px; background-color: rgb(12, 12, 30);">
    <p class="text-white text-center"><i class="bi bi-info-circle"></i>Myblog.com | All rights reserved | myblog@gmail.com</p>
  </div>
  
</section> 



{% endblock %}