{% extends 'base.html' %}
{% load static %}

{% block title %}
login
{% endblock %}


{% block body %}
<style>
    body{
        background-image: url("{% static 'images/bg1.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        font-family: 'Poppins', sans-serif;
    }
</style>

<div class="container">
    <div class="card text-center mb-3 shadow-lg p-3 mb-5  rounded position-absolute top-50 start-50 translate-middle" style="width: 22rem;">
        <div class="card-body">
          <h1 class="card-title text-white" style="font-family:'Rampart One', cursive;" >MyBlog</h1>
          <form method="post" action="" target="_self" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="container">

              <h5 class="header" style="text-align: center;color: white;font-size: x-larger;"></h5><br>
              <div class="form-group">
                <label for="uname" class="text-white">Username*</label>
                <input type="email" class="form-control" style="background: transparent;color: white;" id="uname"  name="email" required>
                    
              </div><br>
                
              <div class="form-group">
                <label for="pwd"  class="text-white">Password*</label>
                <input type="password"  class="form-control" style="background: transparent; color: white;" id="pwd" name="pswd" required>
                    
              </div><br>
              
                  
              <a href="{% url 'home' %}"><button type='button' class="btn btn-outline-dark" style=" color: rgb(255, 255, 255);margin-bottom: 5px;">Signin</button></a>
              <br><br>
              <p class="text-white">New to MyBlog ?<br><a href="{% url 'register' %}" style="color:rgb(255, 255, 255);">Get started now</a></p>
                  
                  
      
            </div>
          </form>
        </div>
    </div>
  </div>

  <script>

    //  Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
    'use strict'
    
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')
    
    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
    
        form.classList.add('was-validated')
      }, false)
    })
    })()
    
    
  </script>

<style>
    
    .card{
      border-radius: 10px;
      border-color: rgb(255, 255, 255);
      border-style: solid;
      background-color: rgb(1, 7, 44);
      opacity: .6;
    }

  </style>
  <style>
    h1,h5{
    font-size: 2rem; /* default font size */
    transition: font-size 0.2s ease-in-out; /* transition effect */
    }
  
    h1:hover,h5:hover{
    font-size: 2.4rem; /* larger font size on hover */
    }
    button{
    font-size: 1.2rem; /* default font size */
    transition: font-size 0.2s ease-in-out; /* transition effect */
    }
  
    button:hover{
    font-size: 1.2rem; /* larger font size on hover */

    }
    label,input,textarea{
    font-size: 1rem; /* default font size */
    transition: font-size 0.2s ease-in-out; /* transition effect */
    
    }
  
    label:hover,input:hover,textarea:hover{
    font-size: 1.2rem; /* larger font size on hover */
    
    
    }
    a{
    font-size: 1rem; /* default font size */
    transition: font-size 0.2s ease-in-out; /* transition effect */
    text-decoration:none ;    

    }
    a:hover{
    font-size: 1.1rem; /* larger font size on hover */
    text-decoration-line: underline;    
    }
    
  </style>



{% endblock %}